<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="codemirror/lib/codemirror.css">
    <link rel="stylesheet" href="codemirror/theme/material.css">
    <link rel="stylesheet" href="/static/style/index.css">
    <script src="codemirror/lib/codemirror.js"></script>
    <script src="codemirror/mode/javascript/javascript.js"></script>

    <title>🐶nylang playground🐶</title>
</head>

<body>
    <div id="menu">
        <h1>
            🐶 nylang playground 🐶
        </h1>

        <button id="run">
            🐶 Run 🐶
        </button>
        <button id="lexer">
            🐶 Lexer 🐶

        </button>
        <button id="parser">
            🐶 Parser 🐶
        </button>
        <button id="stop">
            🐶 Stop 🐶
        </button>
        <button id="share">
            🐶 Share 🐶
        </button>

    </div>
    <pre><code id="real-code" style="display:none">{{.Code}}</code></pre>
    <div id="notebook">
        <div id="notebook-content"></div>
        <script>
            let output='🍙 main = 🏨 () {\n     🎤🎶 ( "hello world" ) ;\n } ;\n'
            if(window.location.pathname!="/"){
                output=document.getElementById("real-code").innerText
            }
            const notebook = document.getElementById('notebook-content');
            var editor = CodeMirror(notebook, {
                lineNumbers: true,
                value: output,
                mode: "javascript",
                theme: "material",
            });


            console.log(editor.getValue());
            const a = document.getElementsByClassName("CodeMirror")[0]
            a.id = "code-editor"
        </script>
    </div>
    </div>
    <script>
        const share=document.getElementById("share")
        share.addEventListener("click",()=>{
            const code=editor.getValue()
           
            fetch("/share",{
                method:"POST",
                body:code,
            }).then(res=>res.text()).then(res=>{
                console.log(res)
                window.location.href=res
            })
            
        })
    </script>
    <div id="output">
        <pre><code id="output-code"></code></pre>
        <script>
            //buttons
            const run = document.getElementById('run');
            const lexer = document.getElementById('lexer');
            const parser = document.getElementById('parser');
            //output  
            const outCode = document.getElementById('output-code')
            //stop the streaming
            const stop = document.getElementById('stop');

            var reader;
            stop.addEventListener('click', () => {
                reader.cancel();
            })
            //function that sends the code to the server
            //and then gets the output
            // in real time

            async function post() {
                //for close some suff
               try{reader.closed()}catch(e){}
                outCode.innerText = ""
                const code = editor.getValue();

                let response = await fetch(`/${this.id}`, {
                    method: 'POST',

                    body: code
                })
                reader = response.body.getReader()
                while (true) {
                    const { done, value } = await reader.read();
                    if (done) break;
                    let out = String.fromCharCode.apply(null, value)
                    console.log(out)
                    outCode.innerText += out;
                    reader.cancel();

                }

            }
            run.addEventListener('click', post);
            lexer.addEventListener('click', post);
            parser.addEventListener('click', post);
        </script>
    </div>
</body>

</html>